# Ignore everything
*
/Feb15_GPCR-Bench-master_backup/

# Except directory structure; this allows Git to traverse directories
!**/
# But ignore directory content; this prevents adding unwanted files
!**/

# Whitelist specific file types across all directories
!**/*.py
!**/*.sh
!**/*.md
!**/*.ipynb
!**/*.txt
!**/*.in
!**/*.smi
!**/*.csv

#ignore large CSV files 
#manual for now but in the future we can consider this one liner: 
#find . -type f -name '*.csv' -size +100M | sed 's|^\./||' >> .gitignore

grids_lit-pcba/ADRB2/strain/ADRB2_4lde_inactive_docking_lib_sorted_strain.csv
