# Ignore everything
*
/Feb15_GPCR-Bench-master_backup/

# Except directory structure; this allows Git to traverse directories
!**/
# But ignore directory content; this prevents adding unwanted files
!**/

# Whitelist specific file types across all directories
!**/*.py
!**/*.sh
!**/*.md
!**/*.ipynb
!**/*.txt
!**/*.in
!**/*.smi
!**/*.csv
